# SEMANA 05
Cosme Hernandez Carlos Daniel

Temas

1. Numeros
2. Variables
3. Manejo de Cadenas
4. Ingreso de datos por teclado
5. Operadores

5. Operadores

In [1]:
# 5.1 Operadores aritmeticos
# Se tiene: +,-,*,/,**,//

In [5]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
potencia = numero1 ** numero2
cociente = numero1 // numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(potencia)
print(cociente)

13
7
30
3.3333333333333335
1
1000
3

In [6]:
# 5.2 Operadores de asignacion
# Se tienen =, +=, -=, *=, /=, **=
numero = 5
numero = numero + 3
print(numero)

8

In [8]:
#La operacion anterior tambien se puede expresar de la siguiente manera
numero = 5
numero += 3
print(numero)

8

In [10]:
# Ejemplo :
numero = 5
numero = numero ** 3
print(numero)

125

In [12]:
#La operacion anterior tambien se puede expresar de la siguiente manera
numero = 5
numero **= 3
print(numero)

125

In [13]:
# 5.3 Operadores de comparacion
# Se tiene: ==, !=, <, >, <=, >=

In [15]:
#Ejemplo de igualdad ==
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [16]:
#con las cadenas funciona igual
nombre1 = "Frank"
nombre2 = "Frank"
nombre1 == nombre2

True

In [17]:
# 5.4 Operadores Logicos
# Se tiene: and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [18]:
numero1<numero2

True

In [19]:
#el Not invierte el resultado
not(numero1<numero2)

False

In [20]:
numero1<numero2 and numero3<numero4

True

In [21]:
# Tambien puedes utilizar parentesis para ordenar tu operacion
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [22]:
# 5.5 Operadores de Pertenencia
# Se tiene: in, not in

In [23]:
#Ejemplo
aula = ["Juan", "Daniel", "Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [24]:
#¿Diego esta en aula?
alumno1 in aula

False

In [25]:
#¿Juan esta en aula?
alumno2 in aula

True

In [26]:
#¿Diego no esta en aula?
alumno1 not in aula

True

In [27]:
#¿Juan no esta en aula?
alumno2 not in aula

False

In [28]:
# 5.6 Operadores de Identidad
# Se tiene: is, is not

In [46]:
aula1 = ["Juan", "Daniel", "Ruben"]
aula2 = ["Juan", "Daniel", "Ruben"]
# A continuacion vamos a indicar que aula3 va a compartir el mismo objeto que aula1
aula3 = aula1

In [47]:
#¿aula3 comparte el mismo objeto que aula1?
aula3 is aula1

True

In [48]:
#¿aula3 comparte el mismo objeto que aula2?
aula3 is aula2

False

In [49]:
#¿aula2 comparte el mismo objeto que aula1?
aula2 is aula1

False

In [50]:
aula1.append("Diego")

In [51]:
#Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [52]:
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [53]:
print(aula2)

['Juan', 'Daniel', 'Ruben']