# SEMANA 06
Cosme Hernandez Carlos Daniel

1. Colecciones de Datos

In [54]:
# 1.1. Listas
# Es una coleccion de elementos que pueden ser ordenados, modificados, etc...
# Se identifica por los corchetes
# Ejemplo:
aula = ['Yauricasa', 'Granados', 'Alva','Laura']
print(aula)

['Yauricasa', 'Granados', 'Alva', 'Laura']

In [55]:
aula

['Yauricasa', 'Granados', 'Alva', 'Laura']

In [56]:
# Podemos extraer cada elemento por su posicion
print(aula[0])
print(aula[1])

Yauricasa
Granados

In [57]:
# Puedo asignar un valor a una posicion de la lista
aula[1] = 'Chavez'
aula[1]

'Chavez'

In [58]:
# Mostramos como quedo la lista
aula

['Yauricasa', 'Chavez', 'Alva', 'Laura']

In [59]:
# Para agregar un elemento utilizamos .append
aula.append("Huaman")
aula.append('Huancas')
aula.append('Chavez')

In [60]:
aula

['Yauricasa', 'Chavez', 'Alva', 'Laura', 'Huaman', 'Huancas', 'Chavez']

In [61]:
# Para eliminar elementos utilizamos .remove()
aula.remove("Yauricasa")
aula

['Chavez', 'Alva', 'Laura', 'Huaman', 'Huancas', 'Chavez']

In [62]:
# Si hubiera varios elementos de valores iguales se elimina la primera coincidencia
aula.remove("Chavez")
aula

['Alva', 'Laura', 'Huaman', 'Huancas', 'Chavez']

In [63]:
# Para obtener el tama√±o utilizamos len()
len(aula)

5

In [64]:
#Eliminar por posicion
aula.pop(2)

'Huaman'

In [65]:
aula

['Alva', 'Laura', 'Huancas', 'Chavez']

In [66]:
#Eliminar solo la ultima posicion
aula.pop()

'Chavez'

In [67]:
aula

['Alva', 'Laura', 'Huancas']

In [68]:
for alumno in aula:
    print(alumno)

Alva
Laura
Huancas

In [69]:
aula.append("Vilca")
aula.append("Gabino")
aula

['Alva', 'Laura', 'Huancas', 'Vilca', 'Gabino']

In [70]:
for alumno in aula:
    print(alumno)

Alva
Laura
Huancas
Vilca
Gabino

In [72]:
# para invertir la lista utilizamos reverse()
# invertir NO SIGNIFICA ordenar en forma descendente sin invertir la lista
aula.reverse()
aula

['Gabino', 'Vilca', 'Huancas', 'Laura', 'Alva']

In [73]:
# Para ordenar una lista utilizamos sort()
aula.sort()
aula

['Alva', 'Gabino', 'Huancas', 'Laura', 'Vilca']

In [74]:
# 1.2. Tuplas
# Es una coleccion de elemtos ordenada(ordenado significa que tiene un indice) que no se pueden modificar
# Es INALTERABLE
# No se pueden agregar elementos ni eliminar
# se identifican por los parentesis

tupla_aula = ('Granados', 'Julca', 'Cusi', 'Marcos')
tupla_aula

('Granados', 'Julca', 'Cusi', 'Marcos')

In [75]:
# Se puede recorrer con una estructura repetitiva
# Ejemplo: for
for alumno in tupla_aula:
    print(alumno)

Granados
Julca
Cusi
Marcos

In [76]:
# Se puede extraer un elemento por su posicion
tupla_aula[2]

'Cusi'

In [77]:
len(tupla_aula)

4

In [81]:
# 1.3. Conjuntos
# Es una coleccion de elemtos que no esta ordenado(Significa que no tiene un indice)

conjunto_aula = {'Granados', 'Julca', 'Cusi', 'Marcos'}
conjunto_aula

{'Cusi', 'Granados', 'Julca', 'Marcos'}

In [83]:
for alumno in conjunto_aula:
    print(alumno)

Cusi
Granados
Marcos
Julca

In [84]:
# Observacion: No se puede acceder por posicion porque no considera indexacion
# Ejemplo:
# conjunto_aula[2] devolvera un mensaje de error

In [85]:
len(conjunto_aula)

4

In [86]:
# Para agregar utilizamos la funcion add()
conjunto_aula.add("Motta")
conjunto_aula

{'Cusi', 'Granados', 'Julca', 'Marcos', 'Motta'}

In [87]:
conjunto_aula.remove("Granados")
conjunto_aula

{'Cusi', 'Julca', 'Marcos', 'Motta'}

In [89]:
# 1.4. Diccionarios
# Es una coleccion de elementos, que estan indexados, no estan ordenados y se pueden modificar
# Son escritos entre llaves y estan formados por pares de elementos INDICE:VALOR

diccionario_aula = {2:'Cusi', '1':'Julca', 'dos':'Marcos', '0':'Motta'}
diccionario_aula

{2: 'Cusi', '1': 'Julca', 'dos': 'Marcos', '0': 'Motta'}

In [90]:
# Del diccionario diccionario_aula extraer el valor cuyo indice sea cero en String:
diccionario_aula['0']

'Motta'

In [91]:
diccionario_aula[2]

'Cusi'

In [92]:
diccionario_aula["dos"]

'Marcos'

In [94]:
diccionario_aula['20'] = "Serna"
diccionario_aula

{2: 'Cusi', '1': 'Julca', 'dos': 'Marcos', '0': 'Motta', '20': 'Serna'}

In [95]:
# Para eliminar un valor se utiliza pop()
# Ejemplo: eliminar el elemento de indice dos:
diccionario_aula.pop(2)
diccionario_aula

{'1': 'Julca', 'dos': 'Marcos', '0': 'Motta', '20': 'Serna'}

In [96]:
# Tambien se puede eliminar utilizando del()
del (diccionario_aula["dos"])
diccionario_aula

{'1': 'Julca', '0': 'Motta', '20': 'Serna'}

In [97]:
for indice in diccionario_aula:
    print(indice)

1
0
20

In [98]:
for indice, valor in diccionario_aula.items():
    print(indice, valor)

1 Julca
0 Motta
20 Serna

In [99]:
# 1.5 Ejercicio:
# Dado una lista de [ALANYA, ALVA, AZA√ëERO, CARRASCO, CCACCYA, COSME, CUSI, DIAZ, FLORES, GOMEZ, GOMEZ,
# GRANADOS, HUANCAS, JULCA, LAURA, MOTTA, PINEDO, PONCE, QUINTANA,RODRIGUEZ, SERNA, VILCA, YAURICASA]
# Dise√±ar un c√≥digo que muestre si el apellido de un estudiante(ingreso por teclado forma parte de la lista)
# Tiempo: 12 minutos

In [109]:
salon = ['ALANYA', 'ALVA', 'AZA√ëERO', 'CARRASCO', 'CCACCYA', 'COSME', 'CUSI', 'DIAZ', 'FLORES', 'GOMEZ', 'GOMEZ',
         'GRANADOS', 'HUANCAS', 'JULCA', 'LAURA', 'MOTTA', 'PINEDO', 'PONCE', 'QUINTANA','RODRIGUEZ', 'SERNA', 'VILCA', 'YAURICASA']
print("Ingrese el Apellido a buscar")
apellido = input()
if apellido in salon:
    print(f"El alumno {apellido} si se encuentra en la lista")
else:
    print(f"El alumno {apellido} no se encuentra en la lista")

Ingrese el Apellido a buscar
HUANCAS
El alumno HUANCAS si se encuentra en la lista